html,
* {
	box-sizing: border-box;
}

.side-menu .box {
	width: 30%;
	height: 100vh;
	min-width: 300px;
	padding: 8px;
	background-color: white;
}

div.side-menu.back {
	position: fixed;

	top: 0px;
	left: 0px;
	bottom: 0px;
	padding: 0px;
}