<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
        target-densityDpi=device-dpi">
    <title>Basic Blockly</title>
    <style>
        canvas {
            
        }
    </style>
</head>

<body>
    <canvas></canvas>

    <!-- copy be.js script to your local to help save bandwith, thanks -->
    <script src="<!--be-js-here-->"></script>

    <!-- main  -->
    <script>
        /** template **/
    </script>
</body>

</html>