<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
        target-densityDpi=device-dpi">
    <title>Blitz Blockly</title>
</head>

<body>
    <canvas></canvas>
    <!-- script ref  -->
    <script src="./js/be.js" defer></script>

    <!-- main  -->
    <script>
        "use strict";
        window.onload = () => {
            console.log('start');
            /** script here **/
            let __update; // = update || Update || UPDATE as any;
            if (typeof update === "function")
                __update = update;
            if (typeof Update === "function")
                __update = Update;
            if (typeof UPDATE === "function")
                __update = UPDATE;
            console.log(__update);
            let __updater = () => {
                if (__update) {
                    __update();
                }
                requestAnimationFrame(__updater);
            };
            requestAnimationFrame(__updater);
        };
    </script>
</body>

</html>