button {
	padding:4px;
	min-width: 48px;
}

div.modul div.nama {
	user-select: none;
}

div.modul div.modul-cont {
	margin-left: 8px;
}

div.modul div.modul-cont.isi {
	border: 1px solid;
	/* min-height: 16px; */
}

div.modul div.var-cont.isi {
	border: 1px solid;
	/* min-height: 16px; */
}

div.modul div.func-cont.isi {
	border: 1px solid;
}


div.daftar-statement div.cont {
	padding: 4px;
	border: 1px solid;
}

div.var-dec {
	display: block;
	margin: 4px;
}

div.var-dec div.content {
	display: inline-block;
	border: 1px solid;
	border-radius: 4px;
	padding: 4px;
}

div.var-dec.dipilih div.content {
	display: inline-block;
	border: 3px solid green;
	border-radius: 4px;
	padding: 4px;
}

div.placeholder {
	border: 1px solid;
	display: inline-block;
	min-width: 32px;
	border-radius: 4px;
	padding:4px;
}

div.placeholder.dipilih {
	border: 3px solid blue;
}

div.pilih-stmt {
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(0, 0, 0, .2);
	padding: 32px;
}

div.pilih-stmt div.kotak-dlg {
	margin:auto;
	max-width: 640px;
	margin-top: 32px;
	background-color: white;
}