<div class="beranda">
    <div class="daftar-cont">

    </div>

    <!-- template -->
    <div class="item template disp-table">
        <div class="foto disp-cell">

        </div>
        <div class="kanan-cont disp-cell">
            <div class="nama"></div>
            <div class="keterangan"></div>
            <div class="harga"></div>
        </div>
    </div>

    <!-- template -->
    <div class="popup template">
        <div class="foto"></div>
        <div class="nama"></div>
        <div class="deskripsi"></div>
        <div class="harga"></div>
        <div class="beli">
            <button class="beli">beli</button>
        </div>
    </div>

</div>