<div class="beranda">
    <div class="daftar-cont">

    </div>

    <!-- template -->
    <div class="item disp-table template">
        <div class="table-row">
            <div class="foto disp-cell padding">
                <img src="" alt="_foto">
            </div>
            <div class="kanan-cont disp-cell padding width-12">
                <div class="nama"></div>
                <div class="keterangan"></div>
                <div class="harga"></div>
            </div>
        </div>
        <div class="text-align-right">
            <button class="btn">Tambah ke keranjang</button>
        </div>
    </div>

    <!-- template -->
    <div class="popup template">
        <div class="foto"></div>
        <div class="nama"></div>
        <div class="deskripsi"></div>
        <div class="harga"></div>
        <div class="beli">
            <button class="beli">beli</button>
        </div>
    </div>

</div>