html, body {
    height: 100vh;   
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    padding: 8px;
}

fieldset {
    border: none;
}

button.tutup,
button.cari {
    border: none;
    background-color: transparent;
    padding: 8px;
    font-size: xx-large;
}

button.cari {
    font-size: x-large;
    padding-top: 18px;
}

ha-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

ha-cont ha-header {
    padding: 4px;
}

ha-cont ha-header .title {
    padding-top:16px;
    font-weight: bold;
}


ha-cont ha-col-cont {
    flex-grow: 1;
    padding: 4px;
    overflow: hidden;
}

ha-cont ha-col-cont kol-kiri {
    display: flex;
    /* overflow-y: auto; */
    /* min-height: 0px; */
    flex: 1 1 auto;
    padding: 8px;
    flex-direction: column;
    /* border: 1px solid; */
    overflow: hidden;
    background-color: #eee;
}

ha-cont ha-col-cont kol-kanan {
    padding: 8px;
    /* overflow-y: auto; */
    overflow-y: auto;
    height: 100%;
}

ha-search {
    position: fixed;
    top:0px;
    left:0px;

}

ha-search box {
    background-color:white;
    /* display: flex; */
    padding: 16px;
}

ha-search box kol-1,
ha-search box kol-2,
ha-search box kol-3 {
    padding: 4px;
}

ha-search {
    background-color: rgba(0,0,0,.1);
    right:0px;
    bottom:0px;
    padding:32px;
}


/*detail*/
ha-detail-cont {
    height: 100px;
    min-height: 100px;
    display: block;
    width: 100%;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 10px;
    /* height: 100%; */
}

ha-scroll {
    width: 100%;
    /* height: 100%; */
    /* overflow-y: hidden; */
    display: block;
}

ha-offline,
ha-wrapup,
ha-customer {
    margin-bottom: 32px;
    display: block;
}

ha-offline > div,
ha-wrapup > div,
ha-customer> div {
    padding: 8px;
    background-color: lightgray;
}


.sub-title {
    margin-top:24px;
    margin-bottom: 4px;
}

.filter {
    border: 1px solid darkgray;
    padding: 4px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.filter input {
    border: none;
}

.filter icon {
    padding-top: 4px;
}

.filter > div {
    padding-top:4px;
    padding-right: 4px;
}