
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-list:before { content: '\e83d'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
