ha-contact-item {
    padding: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

ha-contact-item[data-direction="Inbound"] {
    text-align: right;
}

ha-contact-item ha-bubble-cont {
    /* border: 1px solid; */
    border-radius: 15px;
    padding:8px;
    display: inline-flex;
    min-width: 60%;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

ha-contact-item[data-channel="Email"] ha-bubble-cont {
    background-color: rgb(112, 180, 112);
}

ha-contact-item[data-channel="Telephony"] ha-bubble-cont {
    background-color: rgb(112, 161, 180);
}

ha-contact-item[data-channel="Offline"] ha-bubble-cont {
    background-color: rgb(199, 206, 209);
}

ha-contact-item[data-channel="Messaging Interaction"] ha-bubble-cont {
    background-color: rgb(252, 215, 10);
}

ha-contact-item ha-bubble-cont ha-row{
    width: 100%;
}

ha-contact-item[data-direction="Inbound"] ha-bubble-cont ha-row{
    flex-direction: row-reverse;
}

ha-bubble-cont ha-row ha-kanan {
    font-size: xx-large;
    padding-left: 8px;
    padding-right: 8px;
}

ha-bubble-cont ha-row ha-kanan div.icon-border {
    border: 1px solid white;
    padding: 4px;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
}


ha-bubble-cont ha-row ha-kanan .icon {
    color: white;
}



ha-contact-item ha-tanggal,
ha-contact-item ha-nama {
    display: block;
}