ha-kiri,
ha-tengah,
ha-kanan {
	/* padding: 8px; */
	/* border: 1px solid; */
	box-sizing: border-box;
	background-color: aqua;
	display: block;
}

ha-tengah {
	margin-left: 8px;
	margin-right: 8px;
}

ha-param {
	/* padding: 8px; */
	/* border: 1px solid; */
	box-sizing: border-box;
	background-color: bisque;
	display: block;
}

ha-binop {
	padding: 8px;
	/* border: 1px solid; */
	box-sizing: border-box;
	background-color: blueviolet;
	display: flex;
	width: fit-content;
}

ha-lit {
	padding: 8px;
	cursor: pointer;
	display: block;
	border: 3px solid bisque;
}

ha-lit.dipilih {
	padding: 8px;
	cursor: pointer;
	display: block;
	border: 3px solid;
}