html,
body {
	color: black;
	font-weight: bold;
	font-family: monospace;
	font-size: 14px;
	/* font-style: m; */
	background-color: lightgray;
}

div.modul-item,
div.var-item,
div.fung-dek-item,
div.nama-item {
	padding: 8px;
	border: 1px gray solid;
	user-select: none;
	cursor: pointer;
}

div.modul-item.dipilih,
div.var-item.dipilih,
div.fung-dek-item.dipilih,
div.nama-item.dipilih {
	background-color: gray;
}

div.hal-fungsi-dek div.item-param {
	padding: 8px;
}

div.bevel-1 {
	border-top: 3px solid #838383;
	border-right: 3px solid #838383;
	border-bottom: 3px solid #ffffff;
	border-left: 3px solid #ffffff;
	background: rgba(227, 218, 218, 1);
}

div.bevel-2 {
	border-top: 3px solid #ffffff;
	border-right: 3px solid #ffffff;
	border-bottom: 3px solid #838383;
	border-left: 3px solid #838383;
	background: rgba(227, 218, 218, 1);
}