<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,
        target-densityDpi=device-dpi">

	<title>Blitz</title>
	<link href="./css/css.css" rel="stylesheet">
</head>

<body>
	<!-- <canvas class='buffer back-buffer'></canvas> -->
	<canvas class='buffer front-buffer'></canvas>
	<div class='debug' style="z-index:1; position:relative"></div>

	<script src="./js/blitz.js"></script>
	<script src="./js/Drag.js"></script>
</body>

</html>