html,
body {
	height: 100%;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

button {
	padding: 8px;
}

.back {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	background-color: rgba(0, 0, 0, .1);
	padding: 16px;
}

.back-putih,
.back-white,
.back-color-white {
	background-color: white;
}

/* dialog */
div.dialog {
	position: fixed;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	;
	background-color: rgba(0, 0, 0, .1);
	z-index: 1000;
	display: none;
}

div.dialog div.box {
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 100%;
	min-height: 200px;
	background-color: white;
	text-align: center;
}

div.dialog div.box p {
	flex-grow: 1;
}

/* loading */
div.loading {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, .1);
	z-index: 100;
	font-weight: bolder;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	user-select: none;
	/* select */
}

div.loading div.box {
	width: 80%;
	margin: auto;
	text-align: center;
}

div.clear {
	float: none;
	clear: both;
}


/* FRAMEWORK */
html {
	font-family: Arial, Helvetica, sans-serif;
}

.pos-rel,
.relative {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.pos-fixed {
	position: fixed;
}

a.tambah {
	position: fixed;
	bottom: 32px;
	right: 32px;
	padding: 16px;
	background-color: cornflowerblue;
	border-radius: 50%;
	color: white;
	padding-right: 24px;
	padding-left: 24px;
	text-align: center;
}

/* font */
button.btn-wa {
	background-color: #25D366;
}

a.bersih {
	text-decoration: none;
	color: initial;
}

.fontello {
	font-family: 'fontello';
}

.bold {
	font-weight: bold;
}


/* layout */
.disp-inline-block {
	display: inline-block;
}

.disp-block {
	display: block;
}

.border {
	border: 1px solid grey;
}

.padding,
.padding-8 {
	padding: 8px;
}

.padding-4 {
	padding: 4px;
}

.margin {
	margin: 8px;
}

.margin-auto {
	margin: auto;
}

.margin-bottom-8 {
	margin-bottom: 8px;
}

.white-space-pre {
	white-space: pre;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.potong,
.potong-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text-overflow-elipsis {
	text-overflow: ellipsis;
}

.inline-block,
.disp-inline-block {
	display: inline-block;
}


.float {
	float: left;
}

.clear {
	clear: both;
}

/*FLEX*/
.display-flex,
.disp-flex {
	display: flex
}

.flex-dir-row {
	flex-direction: row;
}

.flex-dir-col {
	flex-direction: column;
}

.flex-grow-1,
.flex-grow-12 {
	flex-grow: 1
}

.align-items-center {
	align-items: center
}

.tengah-tengah {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-0 {
	left: 0px;
}

.top-0 {
	top: 0px
}


.height-12 {
	height: 100%;
}

.min-height-12 {
	min-height: 100%;
}

.min-height-6 {
	min-height: 50%;
}

.wbreak-keep-all {
	word-break: keep-all;
}

.white-space-nowrap,
.wspace-nowrap {
	white-space: nowrap;
}

.width-3 {
	width: 25%;
}

.width-6 {
	width: 50%;
}

.width-12 {
	width: 100%;
}