div.modul-item,
div.var-item,
div.fung-dek-item,
div.nama-item {
	padding: 8px;
	border: 1px gray solid;
	user-select: none;
	cursor: pointer;
}

div.modul-item.dipilih,
div.var-item.dipilih,
div.fung-dek-item.dipilih,
div.nama-item.dipilih {
	background-color: gray;
}

div.hal-fungsi-dek 
div.item-param {
	padding: 8px;
}